<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>Document <%= roomId %>
  </title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #videos {
      display: grid;
      grid-template-columns: 1fr;
      height: 100vh;
      overflow: hidden;
    }

    .video-player {
      background-color: black;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #user-2 {
      display: none;
    }

    .smallFrame {
      position: fixed;
      top: 20px;
      left: 20px;
      height: 170px;
      width: 300px;
      border-radius: 5px;
      border: 2px solid #a7beff;
      -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
      box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
      z-index: 999;
    }


    #controls {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 1em;
    }


    .control-container {
      background-color: #a7beff;
      padding: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .control-container img {
      height: 30px;
      width: 30px;
    }

    #leave-btn {
      background-color: rgb(255, 130, 130);
      color: black;
    }

    @media screen and (max-width:600px) {
      .smallFrame {
        height: 80px;
        width: 120px;
      }

      .control-container img {
        height: 20px;
        width: 20px;
      }
    }
  </style>
</head>

<body>
  <div id="videos">
    <video class="video-player" id="user-1" autoplay playsinline muted></video>
    <video class="video-player" id="user-2" autoplay playsinline></video>
  </div>

  <div id="controls">

    <div class="control-container" id="camera-btn">
      <i class="bi bi-camera-reels"></i>
    </div>

    <div class="control-container" id="mic-btn">
      <i class="bi bi-mic-fill"></i>
    </div>

  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="script.js"></script>

</html>